@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green: rgb(28, 164, 110);
  --blur: rgba(0, 0, 0, 0.523);
  --gray: #959199;
  --grayDark: #3d3b40;
  --blue: rgb(11, 133, 182);
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
}
